<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ol>
        <div *ngFor='let flashcard of flashcards; let i = index'>
                <li>{{flashcard.name}}</li>
                <button (click) = 'viewDescription(i)'>Read Meaning</button>
                <app-flash-details *ngIf="flashcard.showDescription" [flashcard]="flashcard"></app-flash-details>
        </div>
    </ol>

</body>
</html>
